.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    width: 80%;
    height: 10%;
    margin-bottom: 40px;
}

.options button {
    font-size: 100%;
    color: black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options button:hover {
    background-color: rgb(66, 66, 66);
}
