.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    padding: 0 20px;
    font-size: 2em;
    margin-top: 10px;
    border: 1px solid black;
    background-color: rgb(152, 152, 152);
    width: 90%;
    border-radius: 10px;
}

.screen_output {
    width: 100%;
}

textarea, input {
    width: 100%;
    height: 100%;
    background-color: rgb(152, 152, 152);
    color: white;
    text-align: right;
    resize: none;
    overflow: hidden;
}

textarea {
    font-size: 1.5em;
}

input {
    color: rgb(93, 93, 93);
}